# http://editorconfig.org
root = true

# --- CONFIGURACIÓN GLOBAL DE ESTILO ---
# Garantiza la paridad de formato entre distintos IDEs (IntelliJ, VS Code, Eclipse).
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# --- SERIALIZACIÓN Y CONFIGURACIÓN (WEB) ---
# Estándar de 2 espacios para mejorar la legibilidad en estructuras jerárquicas.
[*.{json,yaml,yml,xml}]
indent_size = 2

# --- DOCUMENTACIÓN (MARKDOWN) ---
# Se preservan espacios al final para compatibilidad con saltos de línea sintácticos.
[*.md]
trim_trailing_whitespace = false